@media print {

  :root{
    --main-color: #42a5f5;
    --main-color-dark: #0077c2;
    --secondary-color: #42a5f5;
    --background-color: #f5f5f5;
    --text-color: #000a12;
    --shadow-1: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    --shadow-h: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  .dontprint{
    display: none;
  }

  .pictureofme{
    max-width: 220px;
    max-height: 220px;
  }

  .printtop{
    top:0;
  }

  #v-card-holder {
  	margin-top: -220px;
    padding-bottom:0;
  }

  .card-content{
    margin: 0px;
  }



  #skills .card .skills-title {
  	margin: 10px 0;
  }

  /* #skills .skills-title{
    margin:0;
    padding:0;
  } */

  #skills .card .skillbar {
  	margin-bottom: 10px;
  	margin-top: 10px;
  	padding: 0 0;
  	height: 4px;
  }

  #skills .card .skillbar .skillbar-title span {
  	margin-top: 0px;
  	line-height: 5px;
  }


  .printskills{
    max-width: 33%;
  }

  .skills-title-text{
    text-align: left;
  }

  .section{
    padding-bottom: 5px;
    padding-top: 5px;
  }

  body {
    font-size: 11px;
  }

  h4{
    font-size: 20px;
  }

  .info-headings h4{
    font-size: 30px;
  }

  h3{
    font-size: 40px;
  }

  #about-card p, #interest-card p{
    text-align: left;
  }

  .timeline-block{
    padding: 20px;
  }

  .timeline-block .card-content{
    padding: 5px;
  }

  #v-card-holder{
    height: 1px;
  }

  #v-card-holder #v-card .info-headings h6{
    margin-bottom: 0px;
    margin-top: 0px;
  }

  #v-card-holder #v-card .infos{
    margin-top: 0px;
  }

  #v-card-holder #v-card .infos .profile-list .title {
  	line-height: 20px;
  }

  .card .card-content{
    /* padding: 0px; */
  }

  #about .card .card-content{
    margin: 0px;
  }

  #about .section{
    padding:0px;
    margin:0px;
  }

}
